<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <meta charset="utf-8">
  <meta name="description" content="航海时代_张宇航_个人博客_前腾讯前端开发工程师_现上海方付通商务服务有限公司_最富有激情的前端开发工程师_zhangyuhang's blog" />
  <meta name="keywords" content="航海时代,张宇航,个人博客,上海交大毕业生,腾讯前端开发工程师,上海方付通商务服务有限公司,最有激情的前端开发工程师,sqhtiamo,clougzhang,web前端开发,无线通信,智能家居" />
  <style>
  * {
      margin: 0;
      padding: 0;
  }
  body {
      background: #FCFCFC;
  }
  a {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
  }
  a:hover,
  a.current {
      color: #FF6136;

  }
  header {
      background: black;
      color: white;
      height: 50px;
      font-size: 16px;
  }
  header dl {
      width: 980px;
      margin: 0 auto;
      text-align: center;
  }
  header dl dt {
      display: inline-block;
      position: relative;
      line-height: 50px;
      margin: 0 20px;
  }
  header dl dt ul {
      position: absolute;
      top: 50px;
      left: -10px;
      background: black;
      line-height: 30px;
      box-sizing: border-box;
      width: 140%;
      z-index: 10;
      opacity: 0.8;
      padding-bottom: 5px;
      display: none;
  }
  header dl dt:hover ul {
      display: block;
  }

  main {
      width: 980px;
      margin: 30px auto;
  }
  main section{
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      flex-flow: row wrap;
  }
  main section .box {
      width: 310px;
      height: 200px;
      margin: 10px 6px;
      overflow: hidden;
      position: relative;
      border: 2px solid #EEE;
      border-radius: 1px;
  }
  main section .box:hover {
      border: 2px solid #FF6136;
  }

  main section .box figure img {
      width: 100%;
      transition: all .5s ease-in-out;
  }
  main section8.box:hover figure img {
      transform: scale(1.2);
      z-index: 1;
  }
  main section .box figure figcaption {
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      z-index: 2;
      width: 100%;
      height: 56px;
      line-height: 20px;
      font-size: 12px;
      background: black;
      opacity: 0.7;
      color: white;
      padding: 8px 10px;
  }
  main section .box figure figcaption strong {
      font-size: 16px;
      display: block;
  }
  @media (max-width: 480px) {
      html {
          /*font-size: 20px;*/
      }
      main,
      header dl {
          width: 100%;
      }
      header dl dt {
          margin: 0px 7px;
      }
      main section .box {
          width: 80%;
          height: inherit;
          max-height: 200px;
          margin: 10px auto;
      }
  }
  </style>
  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>
